<div class="editor-formula">
  <div class="form-group">
    <span class="hintbox-label" ng-click="showFormulaHint = !showFormulaHint">
      <label>Formula Input</label>
    </span>
    <p>
      <textarea type="text" class="form-control" ng-model="agg.params.formula"></textarea>
    </p>
  </div>
  <div class="vis-editor-agg-editor-advanced-toggle">
    <a class="kuiLink" href="http://www.datasweet.fr/datasweet-formula/" target="_blank" rel="noopener noreferrer">
      Accepted functions
    </a>
    </p>
  </div>
</div>