<div class="form-group">
    <label>Formatter</label>
    <select
        ng-model="agg.params.formatter"
        ng-init="agg.params.formatter = agg.params.formatter || 'number'"
        ng-options="format.id as format.title for format in aggParam.getFormatters()"
        class="form-control">
    </select>
</div>
<div class="form-group" ng-show="agg.params.formatter === 'numeral'">
    <label>Numeral format</label>
    <div>
        <input type="text" ng-model="agg.params.numeralFormat" class="form-control" />
    </div>
</div>
